<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>forgot password</title>
</head>
<body>
    <!-- Forgot Password Modal -->
   <div id="forgotPasswordModal" style=" position:fixed; top:20%; left:50%; transform:translateX(-50%); background:white; padding:20px; border-radius:10px; box-shadow:0 5px 15px rgba(0,0,0,0.3); z-index:1000;">
    <h5 class="text-center mb-3">Forgot Password</h5>
    <form action="{{url_for('forgot_pass_otp_send')}}" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Send OTP</button>
      <p class="text-danger text-center mt-2" id="forgotError"></p>
    </form>
  </div>
</body>
</html>